#dino{
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0px;
    margin-bottom: 0px;
    /*border: 2px solid black;*/
}

#obstakuloa{
    position: absolute;
    bottom: 0;
    max-height: 60px;
    max-width: 100px;
    /*border: 2px solid green;*/
}

#kutxa{
    position: relative;
    /*border: 2px solid blue;*/
    width: 50%;
    height: 100px;
    margin: auto;
    padding-top: 100px;
}

#dena{
    text-align: center;
    padding-top: 100px;
    height: auto;
    /*border: 2px solid yellow;*/
}

#botoiak{
    margin: auto;
}

#gorputza{
    text-align: center;
}

#botoia{
    height: 60px;
}

#reset_botoia{
    font-size: 20px;
}

#behekoa{
    /*border: 2px solid red;*/
    width: 70%;
    height: auto;
    margin: auto;
}

#fondoa{
    width:100%;
    margin-top: 0px;
}

#kontadoreak{
    /*border: 2px solid green;*/
    width: 50%;
    margin: auto;
    text-align: right;
    font-family: "Lucida Console", "Courier New";
}

#ezkerra{
    display: inline;
    /*border: 2px solid brown;*/
    width: 30%;
    margin-right: 20px;
    visibility: hidden;
}

#hoberena_txt{
    display: inline;
}

#hoberena{
    display:inline;
}

#eskubi{
    display: inline;
    /*border: 2px solid purple;*/
    width: 30%;
}

#kontadorea_txt{
    display: inline;
}

#kontadorea{
    display: inline;
}